html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Quicksand, Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding-bottom: 47px;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.header, .footer {
  background-color: #191818;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .footer-text {
  text-align: center;
  color: #ccc;
  font-size: .9em;
}

.menu {
  float: left;
}

ul.top-nav {
  float: left;
  margin: 0;
  list-style: none;
  padding: 0;
}

ul.top-nav li {
  float: left;
  position: relative;
  display: block;
}

ul.top-nav a {
  color: #ccc;
  padding: 15px 10px;
  display: block;
  text-decoration: none;
}

ul.top-nav a:after {
  bottom: 0px;
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  border-bottom: 3px solid #ccc;
  transition: width 0.5s ease;
}

ul.top-nav a:hover:after {
  width: 100%;
}

.search-country-form {
  padding-top: 15px;
  float: right;
}

.search-country-form input {
  font-family: Quicksand, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.appTitle {
  margin: 0 auto;
  text-align: center;
  color: #ccc;
}

.appTitle h1 {
  font-size: 1.75em;
  margin: 0;
  padding-top: 7px;
}

.content {
  padding: 30px 0 20px;
}

.info-row {
  min-height: 178px;
  display: table;
  width: 100%;
}

.info-row .fixed-left {
  width: 177px;
}

.info-row .remainder-space {
  text-align: center;
}

.info-row .fixed-left, .info-row .remainder-space {
  display: table-cell;
  vertical-align: middle;
}

.pagination {
  overflow: hidden;
}

.pagination a {
  display: block;
  line-height: 29px;
  padding: 0 13px 2px;
  border: 1px solid #191818;
  color: #191818;
  text-decoration: none;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.pagination a:hover {
  color: #ccc;
  border-color: #ccc;
  background-color: #191818;
}

.pagination .prev-page {
  float: left;
}

.pagination .next-page {
  float: right;
}
