$container-size: 1020px;
$font-stack: Quicksand, Arial, "Helvetica Neue", Helvetica, sans-serif;
$layout-change: 767px;
$footer-height: 47px;

@mixin horizontally-center() {
  margin: 0 auto;
}

@mixin respond-to($layout) {
  @if $layout == small {
    @media only screen and (max-width: $layout-change) { @content; }
  }
  @else if $layout == full {
    @media only screen and (min-width: $layout-change + 1) { @content; }
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  margin: 0;
  padding-bottom: $footer-height;
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}
.container {
  max-width: $container-size;
  @include horizontally-center()
}
.header, .footer {
  background-color: #191818;
  overflow: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .footer-text {
    text-align: center;
    color: #ccc;
    font-size: .9em;
  }
}
.menu { float: left; }
ul.top-nav {
  float: left;
  margin: 0;
  list-style: none;
  padding: 0;
  li {
    float: left;
    position: relative;
    display: block;
  }
  a {
    color: #ccc;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
    &:after {
      bottom: 0px;
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      border-bottom: 3px solid #ccc;
      transition: width 0.5s ease;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.search-country-form {
  padding-top: 15px;
  float: right;
  input {
    font-family: $font-stack;
  }
  #submit { }
}

.appTitle {
  @include horizontally-center();
  text-align: center;
  color: #ccc;
  h1 {
    font-size: 1.75em;
    margin: 0;
    padding-top: 7px;
  }
}

.content {
  padding: 30px 0 20px;
}

.info-row {
  min-height: 178px;
  display: table;
  width: 100%;

  .fixed-left { width: 177px; }
  .remainder-space { text-align: center; }

  .fixed-left , .remainder-space {
    display: table-cell;
    vertical-align: middle;
  }
}

.pagination {
  overflow: hidden;

  a {
    display: block;
    line-height: 29px;
    padding: 0 13px 2px;
    border: 1px solid #191818;
    color: #191818;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;

    &:hover {
      color: #ccc;
      border-color: #ccc;
      background-color: #191818;
    }
  }
  .prev-page {
    float: left;
  }
  .next-page {
    float: right;
  }
}
