<?php echo $this->outDoctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle(); ?>

    <?php echo $this->headMeta(); ?>

    <?php $this->_viewHelper
        ->addStylesheet(constant('publicBaseURL') . '/css/style.css', 1, '1.0')
        ->addStylesheet('https://fonts.googleapis.com/css?family=Quicksand');

    echo $this->outCSS(); ?>

    <?php echo $this->outJSHead(); ?>

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="menu">
                <?php echo $this->topNav(); ?>

            </div>
            <div class="search-country-form">
                <form id="country-form" method="post" action="<?php echo constant('publicBaseURL') . "/TopByCountry" ?>">
                    <input id="country" type="text" name="country" />
                    <input id="submit" type="submit" name="submit" value="Submit" />
                </form>
            </div>

            <div class="appTitle">
                <h1><?php echo $this->pageHead() ?></h1>
            </div>
        </div>
    </div>

    <div class="container content">
        <?php echo $this->_content; ?>
    </div>

    <div class="footer">
        <p class="footer-text">&copy; <?php echo date("Y"); ?></p>
    </div>

    <?php $this->_viewHelper->addJavascript(constant('publicBaseURL') . '/js/script.js', 10, '1.0', true);
    echo $this->outJSFoot(); ?>
</body>
</html>
