<?php $request = $this->_fields['request']; ?>
<div class="topFromGeo">
    <div class="artists">
        <h1>Top Artists in <?php echo $this->_fields['country']; ?></h1>
        <?php foreach ($request['topartists']['artist'] as $artist):
            $name = $artist['name']; ?>
            <div class="artist info-row">
                <div class="artist-thumb fixed-left">
                    <a title="<?php echo $name ?>" href="<?php echo constant('publicBaseURL') . "/Artist/" . rawurlencode($name); ?>"">
                        <img alt="<?php echo $name; ?>" src="<?php echo $artist['image'][2]['#text']; ?>" />
                    </a>
                </div>
                <div class="artist-details remainder-space">
                    <h2><?php echo $name ?></h2>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <div class="pagination">
        <?php if ($this->_fields['prev'] !== false): ?>
            <div class="prev-page">
                <a href="<?php echo $this->_fields['prev'] ?>" title="Previous page">&lt;</a>
            </div>
        <?php endif; ?>
        <?php if ($this->_fields['next'] !== false): ?>
            <div class="next-page">
                <a href="<?php echo $this->_fields['next'] ?>" title="Next page">&gt;</a>
            </div>
        <?php endif; ?>
    </div>
</div>
