<?php $request = $this->_fields['request']; ?>
<div class="artist-top-tracks">
    <div class="tracks">
        <h1>Top Tracks from <?php echo $this->_fields['artist']; ?></h1>
        <?php foreach ($request['toptracks']['track'] as $track):
            $name = $track['name']; ?>
            <div class="track info-row">
                <div class="track-thumb fixed-left">
                    <img alt="<?php echo $name; ?>" src="<?php echo $track['image'][2]['#text']; ?>" />
                </div>
                <div class="track-details remainder-space">
                    <h2><?php echo $name ?></h2>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <div class="pagination">
        <?php if ($this->_fields['prev'] !== false): ?>
            <div class="prev-page">
                <a href="<?php echo $this->_fields['prev'] ?>" title="Previous page">&lt;</a>
            </div>
        <?php endif; ?>
        <?php if ($this->_fields['next'] !== false): ?>
            <div class="next-page">
                <a href="<?php echo $this->_fields['next'] ?>" title="Next page">&gt;</a>
            </div>
        <?php endif; ?>
    </div>
</div>
